html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}
body {
    background-image: url("../images/back.jpg");
}
div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 1%;                   /* 位置(上0px) */
    left: 1%;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 140px;              /* 縦幅140px */
}
div#header-bk { 
	background-color:rgb(0, 0, 0);     /* 背景色(黒) */
	padding:10px 0 20px;       /* 上10px、下20pxをあける */
	height:560px;              /* 縦の高さ110px */
	width:98%;                /* 横の幅を100% */
}
img#head_img
{
    position: fixed;            /* ヘッダーの固定 */
    top: 5%;                   /* 位置(上0px) */
    left: 35%;                  /* 位置(右0px) */
}
h1#h1_00{
    position: fixed;            /* ヘッダーの固定 */
    top: 5px;                   /* 位置(上0px) */
    left: 22%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}
h1#h1_01{
    position: fixed;            /* ヘッダーの固定 */
    top: 150px;                   /* 位置(上0px) */
    left: 22%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}
h1#h1_02{
    position: fixed;            /* ヘッダーの固定 */
    top: 295px;                   /* 位置(上0px) */
    left: 22%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}
h1#h1_03{
    position: fixed;            /* ヘッダーの固定 */
    top: 5px;                   /* 位置(上0px) */
    left: 58%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}
h1#h1_04{
    position: fixed;            /* ヘッダーの固定 */
    top: 150px;                   /* 位置(上0px) */
    left: 58%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}
h1#h1_05{
    position: fixed;            /* ヘッダーの固定 */
    top: 295px;                   /* 位置(上0px) */
    left: 58%;
    font-family: "Impact";
    font-size:130px;
    color : rgb(255, 255, 255);
}